@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */



  *{
   font-family: 'Open Sans', sans-serif;
  }
  input
  {
    margin: 10px;
  }

body{
  padding: 0;
  margin: 0;
    background-image: url(../images/pexels-srihari-jaddu-3066025.jpg);
    height: fit-content;
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  
 }
.UL{
    position: fixed;
    top: 10;
}
.Ul li {
  
    
    float: left;
    border-right: 1px solid rgb(224, 207, 207);
  }

li a {
  border: 10px;
  border-style: solid;
  border-radius: 10px;
    display: block;
    color:#dcdfea;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(241, 7, 7, 0.83);
  }
  

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
} 
input
{
    height: 40px;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 15px;
    
}

ul {
  list-style: none;
  padding: 0;
}
h1{
  text-align: center;
  margin: auto;
  width: 100%;
  color: white;
  display: block;
  background-color: rgba(4, 2, 22, 0.574);
  padding: 10px;
}


.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}



 button {
  background-color: black;
  color: white;
  margin: 10px auto;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-style: solid;
  border-color: white;
  border-radius: 10px; 
  
  
}

.contact form button:hover,
.contact form button:focus {
  background: green;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}




blockquote {
  min-height: 5em;
  width: 90%;
  margin: auto;
  padding   : 1em 4em;
  font      : 1em/150% sans-serif;
  position  : relative;
  background-color: rgba(250, 250, 210, 0.489);
  }
  
  blockquote::before,
  blockquote::after {
  position: absolute;
  height  : 3rem;
  font    : 6rem/100% Georgia, "Times New Roman", Times, serif;
  }
  
  blockquote::before {
  content: '“';
  top    : 0.3rem;
  left   : 0.9rem;
  }
  
  blockquote::after {
  content: '”';
  bottom : 0.3rem;
  right  : 0.8rem;
  }
  
  blockquote:lang(fr)::before {
  content: '«';
  top    : -1.5rem;
  left   : 0.5rem;
  }
  
  blockquote:lang(fr)::after {
  content: '»';
  bottom : 2.6rem;
  right  : 0.5rem
  }
  
  blockquote i {
  display   : block;
  font-size : 0.8em;
  margin-top: 1rem;
  text-style: italic;
  text-align: right;
  }
   