<body>
    <h1>Welcome {{userName}} to Crop-Deals</h1>
    <nav style="text-align: center">
        <button routerLink="showFarmers" routerLinkActive="active">Farmers</button>
        <button routerLink="showDealers" routerLinkActive="active">Dealers</button>
        <button routerLink="getOrders" routerLinkActive="active">Orders</button>
        <button  (click)="logout()" >Logout</button>
       
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div>
        <blockquote>People who think they know everything are a great annoyance to those of us who do. <i>Isaac
                Asimov</i></blockquote>
        <br>
        <blockquote lang="fr">L'intelligence, c'est comme les parachutes, quand on n'en a pas, on s'écrase. <i>Pierre
                Desproges</i></blockquote><br>
        <blockquote lang="fr">L'intelligence, c'est comme les parachutes, quand on n'en a pas, on s'écrase. <i>Pierre
                Desproges</i></blockquote>
        <br>
        <blockquote lang="fr">L'intelligence, c'est comme les parachutes, quand on n'en a pas, on s'écrase. <i>Pierre
                Desproges</i></blockquote>
        <blockquote lang="fr">L'intelligence, c'est comme les parachutes, quand on n'en a pas, on s'écrase. <i>Pierre
                Desproges</i></blockquote>
        <blockquote lang="fr">L'intelligence, c'est comme les parachutes, quand on n'en a pas, on s'écrase. <i>Pierre
                Desproges</i></blockquote>

    </div>
</body>

