<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deal-Crop</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="logo">
            <nav>
                <ul>
                    <!-- <li><a routerLink="" routerLinkActive="active">Home</a></li> -->
                </ul>
            </nav>
            <button class="btn" id="btn1" routerLink="farmer-login" routerLinkActive="active">Log In</button>
            <button class="btn" id="btn2" routerLink="farmer-register" routerLinkActive>Sign Up Farmer</button>
            <button class="btn" id="btn2" routerLink="farm-Register" routerLinkActive>Sign Up Farm</button>
        </div>
        <div class="content">
            <div class="text">
                <h1> Farmers <br> <span>Kisaan</span></h1>
                <p>Jai Jawan Jai Kisaan <br>In India, more than 60% of people are farmers and farmers are the real
                    strength of our nation.<br>The birthday of Chaudhary Charan Singh, 5th Prime Minister of India on 23
                    December is celebrated as Farmer’s Day in India.
                </p>
                <button class="btn3" (click)="onclickExplore()">Explore Now</button>


            </div>
        </div>

    </div>
    <div class="dummy_page" style="font-size: 50px;">
      CropDeals -- Betterment of Nation
      </div>
      
      <!-- FOOTER START -->
      <div class="footer" style="text-align: center;">
        <div class="contain">
      
  
  <div class="col" >
    <h1 style="color: burlywood; font-size: large;">Company</h1>
    <ul>
      <li style=" font-size: large;">Farmer</li>
      <li style=" font-size: large;">Dealer</li>
      <li style=" font-size: large;">Sell Crops</li>
      <li style=" font-size: large;">Buy Crops</li>
      <li style=" font-size: large;">Pay ater satisfaction</li>
    </ul>
  </div>

  
  
      <div class="clearfix"></div>
      </div>
      </div>
      <!-- END OF FOOTER -->


</body>
